@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
body{
    background-color: #f2f6ff;
    font-family: 'Nunito',sans-serif;
    color: #041f74;
    margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1{
    font-size: 35px;
    margin: 0;
    color: #004df5;
}
section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;

    margin-top: 50px;
    padding: 40px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.2);
    border-radius: 10px;
    background-color: #ffffff;
}
/* Header Related */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.navigation{
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.navigation span{
    margin-left: 17px;
    font-weight: bold;
    font-size: 19px;
    transition-duration: 0.2s;
}
.navigation span:hover{
    color: #004df5;
}
.user-actions {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.user-actions span {
    margin-right: 20px;
}
.logout-btn {
    width: 110px;
    height: 45px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3dbb56;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;
}
.logout-btn:hover {
    background-color: #004df5;
}
.logout-btn img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    margin-right: 7px;
    background-color: #3dbb56;
    color: #ffffff;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.btn:hover {
    background-color: #004df5;
}

.flash-messages {
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 1000;
    animation: hide 2s linear 0.5s 1 forwards;
}
@keyframes hide {
    to {
        opacity: 0;
    }
}

.flash-messages .succes {
    background-color: #F2F6FF;
    border: 2px solid #3DBB56;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.flash-messages .error {
    background-color: #F2F6FF;
    border: 2px solid #FF7972;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
}


.icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}