/* Search bar Section */
.search-bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}
.search-bar div{
    flex: 1;
}

#search-term{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    transition-duration: 0.2s;
    font-size: 14px;
    background-color: #f2f6ff;
}
#search-term:focus, #search-term:hover{
    width: 70%;
    border-color: #004df5;
    outline: none;
}

#subject{
    width: 40%;
    background-color: #f2f6ff;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.2s;
}
#subject:focus, #subject:hover{
    width: 50%;
    border-color: #004df5;
}

#indexed{
    width: 40px;
    cursor:pointer;
}

.search-btn{
    background-color: #3dbb56;
    color: #ffffff;
    border: none;

    font-size: 17px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.search-btn:hover{
    background-color: #004df5;
}

/* Export Button */
.export{
    width: 100%;
    display: flex;
    justify-content: end;
}
.export button{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    border: 1px solid #777777;
    border-bottom: none;
    background-color: #f2f6ff;
    margin-right: -1.5px;
    margin-bottom: -1px;
    color: inherit;
    padding: 10px;
    cursor:pointer;
    transition-duration: 0.2s;
    font-size: 13px;
}
.export button:hover{
    border-color: #004df5;
    font-size: 15px;
}

/* Question overview section */
.overview-container{
    border: 1px solid #777777;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #f2f6ff;

    width: 100%;
    overflow: hidden;
}
.row{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 5px;
    align-items: center;
}
.row-head{
    background-color: #f2f6ff;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #BBBBBB;
}
.row:nth-child(even){
    background-color: #ffffff;
}

.row p{
    margin: 0;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question{
    width: 40%;
    padding-right: 10px;
}
.subject{
    width: 12%;
}
.date{
    width: 22%;
}
.rtti{
    width: 13%;
}
.bloom{
    width: 13%;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.index{
    width: 20%;
    padding:3px;
    background-color: #3dbb56;
    color: #ffffff;

    border: none;
    border-radius: 10px;
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;
}
.index:hover{
    background-color: #004df5;
}

/* Overview Navigation */
.overview-navigation{
    width: 100%;
    display: flex;
    justify-content: center;
}
.overview-navigation button{
    cursor:pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #3dbb56;
    color: #ffffff
}
.next, .previous{
    margin: 10px;
}