.page-title{
    font-size: 35px;
    margin: 0;
    color: #004df5;
}
.question{
    font-size: 20px;
}
.question-categories-grid{
    display: grid;
    grid-template-columns: 160px 160px;
    margin-top: 50px;
}