.question-panel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;

    margin-top: 50px;
    padding: 40px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.2);
    border-radius: 10px;
    background-color: #ffffff;
}
.question-header{
}
.question-title{
    font-size: 40px;
    margin: 0;
    color: #004df5;
}
.question-description{
    font-size: 17px;
}
.question-categories-grid{
    display: grid;
    grid-template-columns: 160px 160px;
    margin-top: 50px;
}

form{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
form label{
    color: #004df5;
    font-size: 17px;
}
.prompt-select{
    background-color: #ffffff;
    border: 1px solid #777777;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    margin-left: 10px;
}
.submit-btn{
    width: 200px;
    height: 50px;
    background-color: #3dbb56;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
