<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Hier kan een redacteur alles wijzigen.</h1>
    </header>
    <table>
      <tr>
        <th>Redacteur</th>
        <th>Loginnaam</th>
        <th>Admin</th>
        <th>Acties</th>
      </tr>
        {% for user in users %}
      <tr>
        <td>{{user.display_name}}</td>
        <td>{{user.login}}</td>
        <td><input type="checkbox" id="admin" name="admin"></td>
        <td>
            <a href="/admin/edit-user/{{user.user_id}}">
            <button type="button">Wijzig</button>
        </td>
      </tr>
        {% endfor %}
</table>
<a href="/admin/edit-active-user">
    <button>Wijzig eigen gegevens</button>
<a href="/admin/create-user">
    <button>Nieuwe redacteur</button>
</body>
</html>