{% extends "base.html.jinja" %}
{% block title %}Admin{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='prompt-admin-overview.css') }}">
{% endblock %}

{% block content %}
<body>
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
<section>
    <h1>Gebruikers</h1>

    <table class="overview-container">
        <tr class="row-head row">
            <th class="a-col1">Redacteur</th>
            <th class="a-col2">Loginnaam</th>
            <th class="a-col3">Admin</th>
            <th class="a-col4">Acties</th>
        </tr>

        {% for user in users %}
        <tr class="row">
            <td class="a-col1">{{user.display_name}}</td>
            <td class="a-col2">{{user.login}}</td>
            {% if user.is_admin == 1 %}
                <td class="a-col3"><input type="checkbox" id="admin" name="admin" disabled checked></td>
                {% else %}
                <td class="a-col3"><input type="checkbox" id="admin" name="admin" disabled></td>
            {% endif %}
            <td class="a-col4">
                <a href="/admin/edit-user/{{user.user_id}}">
                <button type="button" class="small-btn">Wijzig</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/edit-user/{{active_user[0]}}" class="btn">
        Wijzig eigen gegevens
    </a>

    <a href="/admin/create-user" class="btn">
        Nieuwe redacteur
    </a>
</section>
{% endblock %}