<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.test-correct.nl/hubfs/3396b8f7-06dd-422d-984e-483680fc7791.png">

    <title>{% block title %}Website{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    {% block styles %}{% endblock %}

</head>
<body>
    <header>
        <nav class="navigation">
            <img src="https://welcome.test-correct.nl/svg/logos/Logo-Test-Correct-2.svg">
            <a href="/overview/0"><span>Vragen</span></a>
            <a href="/prompt/overview"><span>Prompts</span></a>
            <!-- If Admin: -->
            <a href="/admin/configuration"><span>Gebruikers</span></a>
        </nav>

        <div class="user-actions">
            <span>{{ session['name'] }}</span>
            <a href="/logout" class="logout-btn">
                Logout
                <img src="{{ url_for('static', filename='/images/exit.svg') }}">
            </a>
        </div>
    </header>

{% block content %}{% endblock %}

</body>
</html>