<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe redacteur</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
<div class="shape">
  <img src="https://www.test-correct.nl/hubfs/02%20TC%20assets%20-%20illustrations/TC-on-devices-v4.svg">
</div>

<form method="POST">

    <label for="display_name">Naam</label><br>
    <input type="text" id="display_name" name="display_name"><br>

    <label for="login">Email / login</label><br>
    <input type="text" id="login" name="login"><br>

    <label for="password">Wachtwoord</label><br>
    <input type="text" id="password" name="password"><br>

    <label for="admin">Is admin?</label>
    <input type="checkbox" id="admin" name="admin"><br>

    <input type="submit" value="Opslaan">

</form>
</body>
</html>