{% extends "base.html.jinja" %}
{% block title %}Wijzig redacteur{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create-update.css') }}">
{% endblock %}
{% block content %}
<section>
    <h1>Bewerk gebruiker</h1>
    <form method="POST">
        <label for="display_name">Naam</label>
        <input class="text-input" type="text" id="display_name" name="display_name" value="{{display_name}}" required>

        <label for="login">Email / login</label>
        <input class="text-input" type="email" id="login" name="login" value="{{login}}" required>

        <label for="password">Wachtwoord</label>
        <input class="text-input" type="password" id="password" name="password" placeholder="Nieuw wachtwoord (optioneel)">

        <label for="is_admin">Is admin?</label>
        {% if is_admin == 1 %}
            <input class="checkbox" type="checkbox" id="is_admin" name="admin" value="1" checked>
        {% else %}
            <input class="checkbox" type="checkbox" id="is_admin" name="admin" value="1">
        {% endif %}

        <input class="btn" type="submit" name="submit" value="Opslaan">
        <input class="btn" type="submit" name="submit" value="Verwijderen">
    </form>
</section>
{% endblock %}