<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wijzig redacteur</title>
</head>
<body>
<form method="POST">
    <label for="display_name">Naam</label><br>
    <input type="text" id="display_name" name="display_name" value="{{display_name}}"><br>

    <label for="login">Email / login</label><br>
    <input type="text" id="login" name="login" value="{{login}}"><br>

    <label for="password">Wachtwoord</label><br>
    <input type="text" id="password" name="password" value="{{password}}"><br>

    <label for="admin">Is admin?</label>
    <input type="checkbox" id="admin" name="admin"><br>

    <input type="submit" name="submit" value="Opslaan">
    <input type="submit" name="submit" value="Verwijderen">
</form>
</body>
</html>