{% extends "base.html.jinja" %}
{% block title %}Exporteren{% endblock %}
{% block styles %}
    <style>
        button {
            width: 200px;
            height: 50px;
            margin-top: 20px;
            background-color: #3dbb56;
            color: #ffffff;
            padding: 5px;
            font-size: 18px;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            transition-duration: 0.2s;
            cursor: pointer;
        }
        button:hover {
            background-color: #004df5
        }
    </style>
{% endblock %}

{% block content %}
<section>
    <h1>Exporteer Vragen</h1>
    {% if exported_questions %}
    <form method="post">
        <button>Download</button>
    </form>
    {% else %}
    <p style="font-size: 18px;">Er zijn geen vragen om geëxporteerd te worden</p>
    {% endif %}
</section>
{% endblock %}