<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.test-correct.nl/hubfs/3396b8f7-06dd-422d-984e-483680fc7791.png">

    <title>Loginpagina</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='log-in.css') }}">
</head>
<body>
<div class="background">
    <div class="shape"><img src="https://www.test-correct.nl/hubfs/02%20TC%20assets%20-%20illustrations/TC-on-devices-v4.svg"></div>
    <div class="shape"></div>
</div>
<form>
    <img class="logo" src="https://welcome.test-correct.nl/svg/logos/Logo-Test-Correct-2.svg">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" id="username">

    <label for="password">Password</label>
    <input type="password" id="password">

    <button>Log In</button>
</form>
</body>
</html>