{% extends "base.html.jinja" %}
{% block title %}Login{% endblock %}

{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">{% endblock %}

{% block content %}
    <div class="background">
        <div class="shape"><img src="https://www.test-correct.nl/hubfs/02%20TC%20assets%20-%20illustrations/TC-on-devices-v4.svg"></div>
        <div class="shape"></div>
    </div>
    <form>
        <img class="logo" src="https://welcome.test-correct.nl/svg/logos/Logo-Test-Correct-2.svg">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" id="username">

        <label for="password">Password</label>
        <input type="password" id="password">

        <button>Log In</button>
    </form>
{% endblock %}

