<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <!-- General Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <!-- Page Specific Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
</head>
<body>
    <section>
        <div class="overview-container">
            <div class="row-head row">
                <p class="question">Vraag</p>
                <p class="subject">Vak</p>
                <p class="date">Invoer Datum</p>
                <p class="rtti">RTTI</p>
                <p class="bloom">Bloom</p>
            </div>
            {% for question in all_questions %}
            <div class="row">
                <p class="question">{{ question.question }}</p>
                <p class="subject">{{ question.subject|title }}</p>
                <p class="date">{{ question.date_created }}</p>

                {% if question.rtti and question.bloom %}
                <p class="rtti">{{ question.rtti }}</p>
                <p class="bloom">{{ question.bloom }}</p>
                {% else %}
                <a class="index" href="/vraag/{{ question.questions_id }}"><p>Indexeer</p></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>