{% extends "base.html.jinja" %}
{% block title %}Overview{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
{% endblock %}

{% block content %}
<section>
    <form class="search-bar-container" action="/overview/0">
        <div class="search-bar">
            <div>
                <label for="search-term">Zoekterm</label>
                <input id="search-term" name="search-term" type="text">
            </div>

            <div>
                <label for="subject">Vak</label>
                <select id="subject" name="subject">
                    <option value="biologie">Biologie</option>
                </select>
            </div>

            <div>
                <label for="indexed">Vragen</label>
                <select id="indexed" name="indexed">
                    <option value="not-indexed">Onbeoordeeld</option>
                    <option value="indexed">Beoordeeld</option>
                    <option value="exported">Geëxporteerd</option>
                    <option value="all">Alle</option>
                </select>
            </div>
        </div>

        <input class="search-btn" type="submit" value="Zoek">
    </form>

    <div class="upload-export">
        <a href="/upload">
            <button>Upload Vragen</button>
        </a>
        <a href="/export">
            <button>Exporteer Beoordeelde Vragen</button>
        </a>
    </div>

    <div class="overview-container">
        <div class="row-head row">
            <p class="question">Vraag</p>
            <p class="subject">Vak</p>
            <p class="date">Invoer Datum</p>
            <p class="rtti">RTTI</p>
            <p class="bloom">Bloom</p>
        </div>
        {% for question in questions %}
        <div class="row">
            <p class="question">{{ question.question }}</p>
            <p class="subject">{{ question.subject|title }}</p>
            <p class="date">{{ question.date_created }}</p>

            {% if question.rtti %}
                <p class="rtti">{{ question.rtti|title }}</p>
            {% else %}
                <div class="index" >
                    <a href="/rtti/{{ question.questions_id }}">Indexeer</a>
                </div>
            {% endif %}

            {% if question.taxonomy_bloom %}
                <p class="bloom">{{ question.taxonomy_bloom|title }}</p>
            {% else %}
                <div class="index" >
                    <a href="/bloom/{{ question.questions_id }}">Indexeer</a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="overview-navigation">
        {% if offset > 0 %}
        <a href="/overview/{{ offset - 1 }}{{ arguments_url }}"><button class="previous">&lt;</button></a>
        {% endif %}
        {% if questions|length == 10 %}
        <a href="/overview/{{ offset + 1 }}{{ arguments_url }}"><button class="next">&gt;</button></a>
        {% endif %}
    </div>
</section>
{% endblock %}