{% extends "base.html.jinja" %}
{% block title %}Nieuwe prompt{% endblock %}

{% block content %}
<section>
    <form method="POST">

        <label for="prompt_name">Titel</label><br>
        <input type="text" id="prompt_name" name="prompt_name"><br>

        <label for="prompt">Prompt</label><br>
        <input type="text" id="prompt" name="prompt"><br>

        <input type="submit" value="Maak prompt">

    </form>
</section>
{% endblock %}