{% extends "base.html.jinja" %}
{% block title %}Prompts{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='prompt-admin-overview.css') }}">
{% endblock %}
{% block content %}
<body>
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
<section>
    <h1>AI Prompts</h1>

    <table class="overview-container">
        <tr class="row-head row">
            <th class="p-col1">Prompt</th>
            <th class="p-col2">Redacteur</th>
            <th class="p-col3">Toetsvragen ingedeeld</th>
            <th class="p-col4">Succespercentage</th>
            <th class="p-col5">Acties</th>
        </tr>
        {% for prompt in prompts_info %}
        <tr class="row">
            <td class="p-col1">{{ prompt.prompt_name }}</td>
            <td class="p-col2">{{ prompt.display_name }}</td>
            <td class="p-col3">{{ prompt.questions_count }}</td>
            {% if prompt.questions_count %}
                <td class="p-col4">{{ (prompt.questions_correct / prompt.questions_count * 100)|int }}%</td>
            {% else %}
                <td class="p-col4">0%</td>
            {% endif %}
            <td class="p-col5">
                <a href="/prompt/{{prompt.prompts_id}}">
                    <button class="small-btn" type="button">Details</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/prompt/create" class="btn">
        Nieuwe prompt toevoegen
    </a>
</section>
{% endblock %}