{% extends "base.html.jinja" %}
{% block title %}Nieuwe prompt{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create-update.css') }}">
{% endblock %}
{% block content %}
<section>
    <h1>Nieuw prompt</h1>
    <form method="POST">

        <label for="prompt_name">Titel</label>
        <input class="text-input" type="text" id="prompt_name" name="prompt_name">

        <label for="prompt">Prompt</label>
        <textarea id="prompt" name="prompt"></textarea>

        <input class="btn" type="submit" value="Maak prompt">

    </form>
</section>
{% endblock %}