{% extends "base.html.jinja" %}
{% block title %}Nieuwe prompt{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create-update.css') }}">
{% endblock %}
{% block content %}
<section>
    <h1>Nieuw prompt</h1>
    <form method="POST">

        <label for="prompt_name">Titel</label>
        <input class="text-input" type="text" id="prompt_name" name="prompt_name" required>

        <label for="prompt">Prompt</label>
        <textarea id="prompt" name="prompt" required></textarea>

        <div class="prompt-category">
            <input id="category-rtti" name="prompt_category" type="radio" value="rtti" required>
            <label for="category-rtti">RTTI</label>
        </div>
        <div class="prompt-category">
            <input id="category-bloom" name="prompt_category" type="radio" value="bloom" required>
            <label for="category-bloom">Bloom</label>
        </div>

        <input class="btn" type="submit" value="Maak prompt">

    </form>
</section>
{% endblock %}