{% extends "base.html.jinja" %}
{% block title %}Prompts{% endblock %}

{% block content %}
<h1>AI Prompts</h1>

<table>
    <tr>
        <th>Prompt</th>
        <th>Redacteur</th>
        <th>Toetsvragen ingedeeld</th>
        <th>Correct </th>
        <th>Acties</th>
    </tr>

    {% for prompt in prompts %}

        <h2>{{prompt.prompt_name}}</h2>

        <p>{{prompt.prompt}}</p>

        <p>Redacteur: {{prompt_info.display_name}}</p>

        <p>Aangemaakt: {{prompt.date_created}}</p>

        <p>Toetsvragen gecategoriseerd: PLACEHOLDER</p>

        <p>Toetsvragen correct: PLACEHOLDER</p>

        <p>Toetsvragen incorrect: PLACEHOLDER</p>

    {% endfor %}
</table>

<a href="/prompt/create">
    <button>Nieuwe prompt toevoegen</button>
</a>
{% endblock %}