<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prompt Details</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
<div class="shape">
  <img src="https://www.test-correct.nl/hubfs/02%20TC%20assets%20-%20illustrations/TC-on-devices-v4.svg">
</div>

  <h2>{{prompt.prompt_name}}</h2>

  <p>{{prompt.prompt}}</p>

  <p>Redacteur: {{user}}</p>

  <p>Aangemaakt: {{prompt.date_created}}</p>

  <p>Toetsvragen gecategoriseerd: PLACEHOLDER</p>

  <p>Toetsvragen correct: PLACEHOLDER</p>

  <p>Toetsvragen incorrect: PLACEHOLDER</p>

</body>
</html>