{% extends "base.html.jinja" %}
{% block title %}Prompt Antwoord{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='single-question.css') }}">
{% endblock %}

{% block content %}
<section>
    <!--Details of the question-->
    <div>
        <h1 class="page-title">Vraag indexeren naar {{ taxonomy }}</h1>
        <p class="question">{{ single_question.question }}</p>
    </div>
    <div class="question-categories-grid">
        <span>Vak:</span>
        <span>{{ single_question.subject|title }}</span>

        <span>Onderwijs Niveau:</span>
        <span>{{ single_question.education_level|title }}</span>

        <span>Leerjaar:</span>
        <span>{{ single_question.grade }}</span>
    </div>

    <!-- The response of the gpt -->
    <p class="explanation">
        {{ gpt_response.uitleg }}
    </p>

    <!-- Choose taxonomy form -->
    <form method="post" action="/{{ taxonomy }}/{{ single_question.questions_id }}/save/prompt={{ prompts_id }}">
        <div>
            <label for="taxonomy">Keuze taxonomie</label>
            <select id="taxonomy" name="taxonomy">
                {% if is_valid %}
                <option value="gpt-{{ gpt_response.categorie|lower }}">GPT: {{ gpt_response.categorie|title }}</option>
                {% endif %}
                {% if taxonomy == 'bloom' %}
                    <option value="onthouden">Onthouden</option>
                    <option value="begrijpen">Begrijpen</option>
                    <option value="toepassen">Toepassen</option>
                    <option value="analyseren">Analyseren</option>
                    <option value="evalueren">Evalueren</option>
                    <option value="creëren">Creëren</option>
                {% elif taxonomy == 'rtti' %}
                    <option value="r">R</option>
                    <option value="t1">T1</option>
                    <option value="t2">T2</option>
                    <option value="i">I</option>
                {% endif %}
            </select>
        </div>

        <input class="submit-btn" type="submit" value="Taxonomie opslaan">
    </form>

    <!-- If GPT response is not valid, offer a try again link -->
    {% if not is_valid %}
        <p style="color: red;">
            Error: GPT antwoord niet ondersteund
        </p>
        <a href="/{{ taxonomy }}/{{ single_question.questions_id }}" style="text-decoration: underline">Probeer opnieuw</a>
    {% endif %}
</section>
{% endblock %}