<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vraag indexeren naar taxonomie</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='single-question.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
<button><a href="/">Terug</a></button>
    <section class="question-panel">
        <div class="question-header">
            <h2 class="page-title">Vraag indexeren naar taxonomie</h2>
            <p class="question">{{ single_question.question }}</p>
        </div>
        <div class="question-categories-grid">
            <span>Vak:</span>
            <span>Biologie</span>

            <span>Onderwijs Niveau:</span>
            <span>Havo</span>

            <span>Leerjaar:</span>
            <span>4</span>
        </div>
        <form method="post" action="">
            <div>
                <label for="prompt">Prompt:</label>
                <select id="prompt" name="prompt" class="prompt-select">
                    <option value="prompt-1">Prompt titel</option>
                    <option value="prompt-2">Prompt titel2</option>
                    <option value="prompt-3">Prompt 3</option>
                </select>
            </div>
            <input class="submit-btn" type="submit" value="Genereer antwoord">
        </form>
    </section>
</body>
</html>