{% extends "base.html.jinja" %}
{% block title %}Upload{% endblock %}
{% block content %}
<section>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="json_file" accept=".json"><br>
      <input type="submit">
    </form>

    <div>
        <p>Bestand moet volgens het volgende structuur:</p>
        <pre>
            [
                {
                    "question_id": "0D993EEBA23E45828F62A398673F56C4",
                    "question": "Welke twee stoffen ontstaan bij Fotosynthese?",
                    "vak": "biologie",
                    "onderwijsniveau": "havo",
                    "leerjaar": 3
                }
            ]
        </pre>
    </div>
</section>
{% endblock %}